<div id="<%= dom_id recipe %>">
  <p>
    <strong>Titre:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Categorie:</strong>
    <%= recipe.recipe_category.name %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Total time:</strong>
    <%= recipe.total_time %>
  </p>

  <p>
    <strong>Difficulté:</strong>
    <%= recipe.difficulty %>
  </p>

  <p>
    <strong>Coût:</strong>
    <%= recipe.cost %>
  </p>

  <p>
    <strong>Nombre de personne:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= recipe.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <% recipe.recipe_steps.each do |recipe_step| %>
    <div id="<%= dom_id(recipe_step) %>">
      <p>
        <strong>Étape <%= recipe_step.step_number %> :</strong><br />
        <%= recipe_step.instructions %>
      </p>

      <% if current_user == recipe.user %>
        <p>
          <%= button_to 'Edit', edit_recipe_step_path(recipe_step), method: :post %>
          <%= button_to 'Delete', recipe_step, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
