<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.recipe_category.name %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Total time:</strong>
    <%= recipe.total_time %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= recipe.difficulty %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= recipe.cost %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= recipe.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

</div>
